p {
	white-space: pre-wrap;
}
button {
	width: 12%;
	height: 2%;
	border: none;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #eee;
	cursor: pointer;
	font-size: 16px;
}
button:hover, a:hover {
	background-color: #777;
	color: #eee;
}
nav {
	width: 12%;
	height: 98%;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #eee;
	text-align:center;
}
nav h3 {
	margin-top: 5px;
	margin-bottom: 0px;
}
h1, h2, h3 {
	text-align: center;
	font-family: "Cinzel";
}
.center {
	text-align: center;
}
img {
	width: 100%;
}
div {
	margin-right: 12%;
}
a {
	display: block;
	text-decoration: none;
	color: black;
}
p, a, button {
	font-family: 'Lato';
}